@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,900;1,300&display=swap');

:root {
	--main-color: coral;
	--second-color: #e75b28;
	--border: 1px solid coral;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a, .project-description a {
	text-decoration: none;
	font-style: italic;
	color: var(--main-color);
}

a:hover, .project-description a:hover {
	text-decoration: underline;
	color: var(--second-color);
}

h1 {
	font-size: 58px !important;
	font-weight: 900 !important;
}

h2 {
	font-size: 38px !important;
	font-weight: 700 !important;
}

nav,
footer {
	background-color: #f8f9fa;
}

.navbar-brand:hover {
	color: var(--second-color) !important;
	text-decoration: none;
}

.info,
section {
	margin: 30px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(img/bg.jpg);
	background-size: cover;
	height: 80vh;
}

header img {
	width: 100%;
}

.icon {
	color: var(--main-color);
}

.navigation-links {
	display: flex;
	justify-content: space-around;
	margin: 30px 30px 0 30px;
}

.contact-link,
.about-link {
	padding: 10px 20px;
	border: var(--border);
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 10px;
	text-decoration: none;
	font-size: 16px;
}

.contact-link {
	background-color: var(--main-color);
	color: white;
}

.about-link {
	color: var(--main-color);
}

.contact-link:hover,
.about-link:hover {
	background-color: var(--second-color);
	color: white;
	text-decoration: none;
}

.projects {
	margin-bottom: 20px;
}

.projects .item {
	border-radius: 0 200px 200px 0;
}

.projects .item-left {
	border-radius: 200px 0 0 200px;
}

.projects img {
	width: 100%;
}

.project-description {
	padding: 30px;
}

.project-link {
	color: var(--main-color);
	text-decoration: none;
}

.project-link:hover {
	color: var(--second-color);
	text-decoration: underline;
}

.light-bg {
	background-color: #f6f2f1;
}

.about-paragraphs {
	border-radius: 0 200px 200px 0;
	margin: 20px 0;
	padding: 0;
}

.about-paragraphs img {
	width: 100%;
}

.about-paragraphs p {
	padding: 30px;
}

.homepage-link,
.email-link {
	text-align: center;
	color: var(--main-color);
	text-decoration: none;
}

.homepage-link:hover,
.email-link:hover {
	color: var(--second-color);
	text-decoration: underline;
}

#contact {
	text-align: center;	
	margin-bottom: 20px;
}

footer p a {
	color: var(--main-color);
	text-decoration: none;
}

.social .icon {
	width: 50px;
	font-size: 36px;
}

.social .icon:hover {
	color: var(--second-color);
}

footer p a:hover {
	color: var(--second-color);
	text-decoration: underline;
}
